html
  head
    title My Cool Website
  body
    h1 Intercom Messenger installation example
    p You should see the messenger in the bottom right if you set it up correctly!

    blockquote(cite="http://mentalfloss.com/article/56004/16-fun-facts-about-hedgehogs")
      p
        strong Did you know?
      p A group of hedgehogs is called an array.

    script.
      window.intercomSettings = {
      app_id: "#{intercomAppId}",
      user_hash: "#{intercomAppId}",
      user_id: "#{user.id}",
      email: "#{user.email}"
      };
    script.
      (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', intercomSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Intercom = i; function l() { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/#{intercomAppId}'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })()
